/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Poiret+One&family=Rubik+Doodle+Triangles&family=Silkscreen:wght@400;700&family=Special+Elite&display=swap');

/* Header.js */
.header {
    font-family: "Special Elite", system-ui;
    font-size: 135%;
    font-style: normal;
    background-color: #445b1f;
    padding-top: 4%;
    display: flex;
    justify-content: space-around;
    justify-content: space-between;
    text-decoration: underline;
    align-content: center;
    text-decoration-style: dashed;
    text-shadow: 3px 3px 3px #44200f;
    color: #b39315;
    
  }

.headerImage {
    width: 120px;
    height: 125145px;
}

  /* Footer.js  */

.footer {
    border: 1px solid white;
    background-color: #b39315;
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }

.about-button {
    text-align: center;
  }
  
.devButton {
    color: #cdb61a;
    background-color: #445b1f;
}

.footerImage {
    width: 30%;
    height: 30%;
}