/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Poiret+One&family=Rubik+Doodle+Triangles&family=Silkscreen:wght@400;700&family=Special+Elite&display=swap");

/* Header.js */
.header {
  background-color: #445b1f;
  padding-top: 4%;
}


/* Footer.js  */

.footer {
 margin-top: auto;
}

.about-button {
  text-align: center;
}

.devButton {
  color: #cdb61a;
  background-color: #445b1f;
  position: absolute;
  z-index: 1;
}

.showcase {
  background-color: #b39315;
  width: 100%;
  margin-top: 20px;
  height: 100px;
  padding-bottom: 0;
  margin-bottom: 0;
  position: fixed;
  bottom: 0;
}

.footerImage {
  position: absolute;
  width: 350px;
  height: 100px;
  margin-left: 850px;
  top: 0;
}
