/* Imports */
@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&display=swap");

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Poiret+One&family=Rubik+Doodle+Triangles&family=Silkscreen:wght@400;700&family=Special+Elite&display=swap');

/* Header.js */
.header {
    font-family: "Special Elite", system-ui;
    font-size: 135%;
    font-style: normal;
    background-color: #33451d;
    display: flex;
    justify-content: space-between;
    justify-content: space-around;
    text-decoration: underline;
    text-decoration-style: dashed;
    text-shadow: 2px 2px 2px #44200f;
    color: #b39315;
  }

  /* Footer.js  */

.footer {
    border: 2px solid white;
    background-color: #b39315;
  }
  
  .about-button {
    text-align: center;
  }
  
  .copyright {
    text-align: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  }